<!--- Start Modal -->
<div id="contact" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="close_modal" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body">
        <div class="well">
          <!-- </div> -->
          <!-- <div class="well" > -->
          <center>
            <img class="img img-responsive" src="https://s3-us-west-2.amazonaws.com/upspot/upspot-logo-black.png" style="width:80%;">
          </center>
          <form class="form-horizontal" enctype="multipart/form-data" action="/signup" method="POST">
            {% csrf_token %}
            <fieldset>
              <div class="control-group">
                <h4>Email Address</h4>
                <div class="controls">
                  <input id="email" type="email" name="email" placeholder="" class="form-control input-lg" required autofocus>
                </div>
              </div>
              <div class="control-group">
                <h4>Password</h4>
                <div class="controls">
                  <input id="password" type="password" name="password" placeholder="" class="form-control input-lg" required>
                </div>
              </div>
              <div class="control-group">
                <h4>Confirm Password</h4>
                <div class="controls">
                  <input id="password_confirmation" type="password" placeholder="" class="form-control input-lg" required>
                </div>
              </div>
              <br></br>
              <div class="control-group">
                <!-- Button -->
                <div class="controls">
                  <button class="btn btn-success btn-lg" type="submit" style="display: block; width: 100%;">Sign Up</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
